body, ul, table, tr, td {
    margin: 0px;
    padding: 0px;
    font-family: "Lato";
    color: #4D4D4D;
    border-collapse: collapse;
}

.toolbar{
    padding: 0 10px;
    height: 37px;
    border-bottom: .5px solid #dfdfdf;
    cursor: default;
}

.toolbar td {
    height: 27px;
    font-size: 12px;
    text-align: center;
}

.toolbar td:not(.none):hover {
    background-color: #E1E1E1;
}

.tool{
    width: 27px;
    border-radius: 4px;
}

#file{
    height: 27px;
    padding: 5px;
    border: 1px solid #E0E0E0;
    background: #E1E1E1;
}

#account{
    margin-left: 10px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    background: #b30000;
}
